body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #fafafa;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    gap: 20px;
    padding: 10px;
}

.project-card {
    background: rgb(200, 136, 237);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.project-card img {
    width: 100%;
    max-width: 25vw;
    height: auto;
}

.project-card audio {
    width: 100%;
}